{{ 'compare-product.css' |  asset_url |  stylesheet_tag }}

<div class="compare-product-section">
    <div class="page-width">
        <div class="compare-product">
            <div class="compare-product-video">
                {{ section.settings.video | video_tag: autoplay: true, loop: true, muted: true, controls: false , width:section.settings.video.width}}
            </div>
              <div class="compare-product-wrapper">
                {% for block in section.blocks %}
                    {% case block.type %}
                        {% when 'text' %}
                            <div class="compare-product-details">
                                <h6 style="color:{{ block.settings.color }}"> {{ block.settings.title3 }} </h6>
                                <h2 style="color:{{ block.settings.color }}"> {{ block.settings.text2 }}</h2>
                                <span class="small_body" style="color:{{ block.settings.color }}"> {{ block.settings.text4 }} </span>
                            </div>
                        {% when 'image' %}
                            <div class="compare-product-image">
                                <h6 style="color:{{ block.settings.color1 }}"> {{ block.settings.text }}</h6>
                                <div class="d-flex">
                                    <div class="slider-product">
                                        <img 
                                            src="{{ block.settings.image | image_url: width: 100 }}"
                                            alt="{{ block.settings.image.alt }}" 
                                            srcset="
                                                {%- if block.settings.image.width >= 165 -%}{{ block.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                                                {%- if block.settings.image.width >= 330 -%}{{ block.settings.image | image_url: width: 330 }} 330w,{%- endif -%}
                                                {%- if block.settings.image.width >= 535 -%}{{ block.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
                                                {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                                                {%- if block.settings.image.width >= 1000 -%}{{ block.settings.image | image_url: width: 1000 }} 1000w,{%- endif -%}
                                                {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                                                {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
                                                {{ block.settings.image | image_url }} {{ block.settings.image.width }}w
                                            "
                                            width="{{ block.settings.image.width }}"
                                            height="{{ block.settings.image.height }}"
                                            size="(min-width: 300px) 20px"
                                                
                
                                            >
                                            <h4 style="color:{{ block.settings.color1 }}"> {{ block.settings.title }}</h4>
                                    </div>
                                <div class="slider-product">
                                    <img 
                                        src="{{ block.settings.image1 | image_url: width: 100 }}"
                                        alt="{{ block.settings.image1.alt }}" 
                                        srcset="
                                            {%- if block.settings.image1.width >= 165 -%}{{ block.settings.image1 | image_url: width: 165 }} 165w,{%- endif -%}
                                            {%- if block.settings.image1.width >= 330 -%}{{ block.settings.image1 | image_url: width: 330 }} 330w,{%- endif -%}
                                            {%- if block.settings.image1.width >= 535 -%}{{ block.settings.image1 | image_url: width: 535 }} 535w,{%- endif -%}
                                            {%- if block.settings.image1.width >= 750 -%}{{ block.settings.image1 | image_url: width: 750 }} 750w,{%- endif -%}
                                            {%- if block.settings.image1.width >= 1000 -%}{{ block.settings.image1 | image_url: width: 1000 }} 1000w,{%- endif -%}
                                            {%- if block.settings.image1.width >= 1500 -%}{{ block.settings.image1 | image_url: width: 1500 }} 1500w,{%- endif -%}
                                            {%- if block.settings.image1.width >= 3000 -%}{{ block.settings.image1 | image_url: width: 3000 }} 3000w,{%- endif -%}
                                            {{ block.settings.image1 | image_url }} {{ block.settings.image1.width }}w
                                        "
                                        width="{{ block.settings.image1.width }}"
                                        height="{{ block.settings.image1.height }}"
                                        size="(min-width: 300px) 20px"
                                            
            
                                        >
                                        <h4 style="color:{{ block.settings.color1 }}"> {{ block.settings.title1 }}</h4>
                                        </div>
                                </div>

                            </div>
                    {% endcase %}
                {% endfor %}
              </div>
        </div>
    </div>
</div>

{% schema %}
    {
      "name": "comapare product",
      "class": "section",
      "tag": "section",
      "disabled_on": {
        "groups": ["header", "footer"]
      },
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "Multicolumn",
          "label": "t:sections.multicolumn.settings.title.label"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.video.settings.video.label"
        }
      ],
      "blocks": [
        {
          "type": "image",
          "name": "t:sections.multicolumn.blocks.column.name",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "t:sections.multicolumn.blocks.column.settings.image.label"
            },
            {
              "type": "inline_richtext",
              "id": "title",
              "default": "BOXING",
              "label": "Image name"
            },
            {
              "type": "image_picker",
              "id": "image1",
              "label": "t:sections.multicolumn.blocks.column.settings.image.label"
            },
            {
              "type": "inline_richtext",
              "id": "title1",
              "default": "MMA",
              "label": "Image name"
            },
            {
              "type": "richtext",
              "id": "text",
              "default": "<p>01. WHICH SPORT ARE YOUR GLOVES FOR?</p>",
              "label": "Text"
            },
            {
              "type": "color",
              "id": "color1",
              "default": "#fff",
              "label": "color"
            }
          ]
        },
        {
          "type": "text",
          "name": "Text",
          "settings": [
            {
              "type": "inline_richtext",
              "id": "title3",
              "default": "caption",
              "label": "caption"
            },
            {
              "type": "richtext",
              "id": "text2",
              "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
              "label": "heading"
            },
            {
              "type": "richtext",
              "id": "text4",
              "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
              "label": "contant"
            },
            {
              "type": "color",
              "id": "color",
              "default": "#fff",
              "label": "color"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "comapare product",
          "blocks": [
            {
              "type": "text"
            },
            {
              "type": "image"
            }
          ]
        }
      ]
    }
    {% endschema %}