{{ 'timer-section.css' | asset_url | stylesheet_tag }}

<div class="timer-product">
  <div class="page-width d-flex gap-10">
    <div class="show-timer d-flex j-between">
      <div class="product-timer-details">
        <span class="medium_body">
          {{ section.settings.heading }}
        </span>
      </div>
      <div class="product-timer">
        <img
          src="{{ section.settings.image | image_url: width: 100 }}"
          alt="{{ section.settings.image.alt }}"
          srcset="
                                {%- if section.settings.image.width >= 165 -%}{{ section.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                                {%- if section.settings.image.width >= 330 -%}{{ section.settings.image | image_url: width: 330 }} 330w,{%- endif -%}
                                {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
                                {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                                {%- if section.settings.image.width >= 1000 -%}{{ section.settings.image | image_url: width: 1000 }} 1000w,{%- endif -%}
                                {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                                {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
                                {{ section.settings.image | image_url }} {{ section.settings.image.width }}w
                            "
          width="124"
          height="{{ section.settings.image.height }}"
          size="(min-width: 300px) 124px">
      </div>
      <div class="timer-text d-flex">
          <div class="fix-timer">
            <span class="h3">0</span>
            <span class="h6">D</span>
          </div>
          <span class="h4 timer-dot">:</span>
          <div class="fix-timer">
            <span class="h3">00</span>
            <span class="h6">H</span>
          </div>
          <span class="h4 timer-dot">:</span>
          <div class="fix-timer">
            <span class="h3">00</span>
            <span class="h6">M</span>
          </div>
          <span class="h4 timer-dot">:</span>
          <div class="fix-timer">
            <span class="h3">00</span>
            <span class="h6">S</span>
          </div>
      </div>
    </div>
    <div class="timer-contant">
        <img
          src="{{ section.settings.image1 | image_url: width: 100 }}"
          alt="{{ section.settings.image1.alt }}"
          srcset="
                                {%- if section.settings.image1.width >= 165 -%}{{ section.settings.image1 | image_url: width: 165 }} 165w,{%- endif -%}
                                {%- if section.settings.image1.width >= 330 -%}{{ section.settings.image1 | image_url: width: 330 }} 330w,{%- endif -%}
                                {%- if section.settings.image1.width >= 535 -%}{{ section.settings.image1 | image_url: width: 535 }} 535w,{%- endif -%}
                                {%- if section.settings.image1.width >= 750 -%}{{ section.settings.image1 | image_url: width: 750 }} 750w,{%- endif -%}
                                {%- if section.settings.image1.width >= 1000 -%}{{ section.settings.image1 | image_url: width: 1000 }} 1000w,{%- endif -%}
                                {%- if section.settings.image1.width >= 1500 -%}{{ section.settings.image1 | image_url: width: 1500 }} 1500w,{%- endif -%}
                                {%- if section.settings.image1.width >= 3000 -%}{{ section.settings.image1 | image_url: width: 3000 }} 3000w,{%- endif -%}
                                {{ section.settings.image1 | image_url }} {{ section.settings.image1.width }}w
                            "
          width="{{ section.settings.image1.width }}"
          height="{{ section.settings.image1.height }}"
          size="(min-width: 300px) 20px">
        <span class="medium_body">
            {{ section.settings.heading1 }}
        </span>
    </div>

  </div>
</div>

<script>

      let setDate = new Date("june 28, 2024 12:00:00")
      let timer = document.querySelector('.timer-text');
      let interval = setInterval(()=>{
      let nowDate = new Date()
      let diffDate = setDate - nowDate;
      
      let days    = Math.floor( diffDate / (24 * 60 * 60 * 1000) )
      let hours   = Math.floor(( diffDate % (1000*60*60*24) ) / (1000*60*60));
      let minutes = Math.floor(( diffDate % (1000*60*60) ) / (1000*60));
      let seconds = Math.floor(( diffDate % (1000*60) ) / 1000);
      console.log(days);
      console.log(hours);
      console.log(minutes);
      console.log(seconds);

      timer.innerHTML = `
      <div class="fix-timer">
            <span class="h3">${days}</span>
            <span class="h6">D</span>
          </div>
          <span class="h4 timer-dot">:</span>
          <div class="fix-timer">
            <span class="h3">${hours}</span>
            <span class="h6">H</span>
          </div>
          <span class="h4 timer-dot">:</span>
          <div class="fix-timer">
            <span class="h3">${minutes}</span>
            <span class="h6">M</span>
          </div>
          <span class="h4 timer-dot">:</span>
          <div class="fix-timer">
            <span class="h3">${seconds}</span>
            <span class="h6">S</span>
          </div>               
      `

    },1000)
    
</script>

{% schema %}
  {
    "name": "Timer product off",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.image-banner.settings.image.label"
      }, 
      {
        "type": "inline_richtext",
        "id": "heading",
        "default": "Image banner",
        "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
      }, {
        "type": "inline_richtext",
        "id": "heading1",
        "default": "Image banner",
        "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
      },
      {
        "type": "image_picker",
        "id": "image1",
        "label": "t:sections.image-banner.settings.image.label"
      }
    ],
    "presets": [
      {
        "name": "Timer product off"
      }
    ]
  }
{% endschema %}